<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="" ng-click="model.loadUserProfile()"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Cart</a>
                <div class="navbar-right">
                    <label class="navbar-brand">SubTotal:</label>
                    <label class="navbar-brand">$0</label>
                    <a class="navbar-brand" href="" ng-click="model.checkOut()">Checkout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 visible-md visible-lg">
                <img ng-src="https://images-na.ssl-images-amazon.com/images/I/41rjZFBVZVL._SY180_.jpg"></img>
            </div>
            <div class="col-xs-12  col-md-9">
                <div class="row">
                    <label>Product Name</label></div>
                <div class="row">
                    <label>Product Price</label></div>
                <div class="row">
                    <label>Quantity</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 visible-md visible-lg">
                <img ng-src="https://images-na.ssl-images-amazon.com/images/I/41rjZFBVZVL._SY180_.jpg"></img>
            </div>
            <div class="col-xs-12  col-md-9">
                <div class="row">
                    <label>Product Name</label></div>
                <div class="row">
                    <label>Product Price</label></div>
                <div class="row">
                    <label>Quantity</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 visible-md visible-lg">
                <img ng-src="https://images-na.ssl-images-amazon.com/images/I/41rjZFBVZVL._SY180_.jpg"></img>
            </div>
            <div class="col-xs-12  col-md-9">
                <div class="row">
                    <label>Product Name</label></div>
                <div class="row">
                    <label>Product Price</label></div>
                <div class="row">
                    <label>Quantity</label></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 visible-md visible-lg">
                <img ng-src="https://images-na.ssl-images-amazon.com/images/I/41rjZFBVZVL._SY180_.jpg"></img>
            </div>
            <div class="col-xs-12  col-md-9">
                <div class="row">
                    <label>Product Name</label></div>
                <div class="row">
                    <label>Product Price</label></div>
                <div class="row">
                    <label>Quantity</label></div>
            </div>
        </div>
    </div>
    <div class="pav">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-header navbar-right">
                    <p class="navbar-text pull-right">
                        <a ng_click="model.loadUserProfile()" class="navbar-link"> <span
                                class="white glyphicon glyphicon-user pull-right"></span>
                        </a>
                    </p>
                </div>
            </div>
        </nav>
    </div>
</div>
