<div class="pav">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!profile/cart"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Checkout</a>
                <div class="pull-right">
                    <a class="navbar-brand" href="" ng-click="model.placeOrder()"><span class="glyphicon glyphicon-ok"></span></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div ng-show="model.message" class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span class="sr-only">Success:</span>
             <strong>Awesome! </strong>Order successfully placed.
                <a href="#!/profile/order" class="alert-link">Click here to see your orders</a>
        </div>
        <div ng-if="model.cartItems">
        <div class="table-responsive">
            <table id="orderSummary" class="table table-striped">
                <thead>
                <tr class="active">
                    <th>Product</th>
                    <th class="text-right">Quantity</th>
                    <th class="text-right">Unit Price</th>
                    <th class="text-right">SubTotal</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in model.cartItems">
                    <td align="left"><a href="" ng-click="model.loadProduct(item.itemId)">{{item.name}}</a></td>
                    <td align="right">{{item.quantity}}</td>
                    <td align="right">{{item.salePrice}}</td>
                    <td align="right">{{item.subTotal}}</td>
                </tr>
                </tbody>
                <tfoot align="right">
                <tr>
                    <td></td>
                    <td></td>
                    <td>SubTotal</td>
                    <td>{{model.sub_total}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Shipping</td>
                    <td>{{model.shipping}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Grand Total</td>
                    <td>{{model.grand_total}}</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4><strong>Shipping Address</strong></h4>
            <div class="pav-widget">
                <div>
                    <address>
                        <strong>{{model.address.fullName}}</strong><br>
                        {{model.address.streetAddress1}}<br>
                        {{model.address.streetAddress2}}<br>
                        {{model.address.city}}<br>
                        {{model.address.state}}<br>
                        {{model.address.zipCode}}<br>
                        <abbr title="Phone">P:</abbr> {{model.address.phone}}
                    </address>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4><strong>Payment Information</strong></h4>
                <div class="pav-widget">
                    <div>
                        <address>
                        <strong>{{model.payment.nameOnCard}}</strong><br>
                         {{model.payment.cardNumber}}<br>
                        {{model.payment.expirationMonth}}/{{model.payment.expirationYear}}
                        </address>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <p class="navbar-text pull-right">
                    <a href="#!/profile" class="navbar-link"> <span
                            class="white glyphicon glyphicon-user pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>

</div>
