<div class="pav">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="" ng-click="model.loadUserProfile()"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Checkout</a>
                <div class="navbar-right">
                    <a class="navbar-brand" href="" ng-click="model.getCart()">Review Cart</a>
                    <a class="navbar-brand" href="" ng-click="model.placeOrder()">Place Your Order</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div>
            <label>Order Summary</label>
            <table id="orderSummary" class="table table-striped">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>SubTotal</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in model.cartItems">
                    <td align="left">{{item.name}}</td>
                    <td align="right">{{item.quantity}}</td>
                    <td align="right">{{item.salePrice}}</td>
                    <td align="right">{{item.subTotal}}</td>
                </tr>
                </tbody>
                <tfoot align="right">
                <tr>
                    <td></td>
                    <td></td>
                    <td>SubTotal</td>
                    <td>{{model.sub_total}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Shipping</td>
                    <td>{{model.shipping}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Grand Total</td>
                    <td>{{model.grand_total}}</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12">
            <label>Shipping Address</label>
            <div class="pav-widget">
                <div class="pav-widget-toolbar">
                    <a href="" ng-click="model.changeAddress()">
                        Change
                    </a>
                </div>
                <div>
                    <address>
                        <strong>{{model.address.fullName}}</strong><br>
                        {{model.address.streetAddress1}}<br>
                        {{model.address.streetAddress2}}<br>
                        {{model.address.city}}<br>
                        {{model.address.state}}<br>
                        {{model.address.zipCode}}<br>
                        <abbr title="Phone">P:</abbr> {{model.address.phone}}
                    </address>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Payment Information</label>
                <div class="pav-widget">
                    <div class="pav-widget-toolbar">
                        <a href="" ng-click="model.editAddressWidget()">
                            <span class="red glyphicon glyphicon-pencil"></span>
                        </a>
                    </div>
                    <div>
                        <label>{{model.payment.nameOnCard}}</label>
                        <label> {{model.payment.cardNumber}}</label>
                        <label> {{model.payment.expirationMonth}}</label>
                        <label> {{model.payment.expirationYear}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <p class="navbar-text pull-right">
                    <a ng_click="model.loadUserProfile()" class="navbar-link"> <span
                            class="white glyphicon glyphicon-user pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>

</div>
