<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="" ng-click=""><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Orders</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <table class="table table-striped">
            <tr ng-repeat="order in model.orders" ng-if="model.orders.length">
                <td>
                    <a href="" ng-click="model.loadOrder(order._id)">Order {{$index+1}}</a>
                </td>
            </tr>
        </table>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-header navbar-right">
                    <p class="navbar-text pull-right">
                        <a href="#!/" class="navbar-link"> <span
                                class="white glyphicon glyphicon-home pull-right"></span>
                        </a>
                    </p>
                </div>
            </div>
    </nav>
</div>
