<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/profile/order"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Order</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

            <label>Order Summary</label>
        <div class="table-responsive">
            <table id="orderSummary" class="table table-striped">
                <thead>
                <tr>
                    <th>Product</th>
                    <th class="text-right">Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in model.order.line_items">
                    <td align="left" class="small text-danger">{{item.item_name}}</td>
                    <td align="right" class="text-danger">{{item.quantity}}</td>
                </tr>
                </tbody>
                <tfoot align="right">
                <tr>
                    <td><strong>SubTotal</strong></td>
                    <td class="text-danger" >{{model.order.subtotal}}</td>
                </tr>
                <tr>
                    <td><strong>Shipping</strong></td>
                    <td class="text-danger">{{model.order.total_shipping}}</td>
                </tr>
                <tr>
                    <td><strong>Grand Total</strong></td>
                    <td class="text-danger"><strong>${{model.order.grand_total}}</strong></td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="row">
        <div class="col-xs-12">
            <H4 ng-if="model.address"><strong>Shipping Address</strong></H4>

            <strong>{{model.address.fullName}}</strong><br>
                        {{model.address.streetAddress1}}<br>
                        {{model.address.streetAddress2}}<br>
                        {{model.address.city}}<br>
                        {{model.address.state}}<br>
                        {{model.address.zipCode}}<br>
                        <abbr title="Phone">P:</abbr> {{model.address.phone}}
        </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <H4 ng-if="model.payment"><strong>Payment Details</strong></H4>

                <strong>{{model.payment.nameOnCard}}</strong><br>
                {{model.payment.cardNumber}}<br>
                {{model.payment.expirationMonth}}<br>
                {{model.payment.expirationYear}}<br></td>
            </div>
      </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/"><span
                        class="glyphicon glyphicon-home white"></span></a>
                <p class="navbar-text pull-right">
                    <a href="#!profile" class="navbar-link"> <span
                            class="white glyphicon glyphicon-user pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>