<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/profile"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Orders</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">

        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                <div class="col-xs-6 col-md-3">ORDER #</div>
                <div class="col-xs-6 col-md-3">STATUS</div>
                <div class="col-md-3 visible-md visible-lg">ORDER DATE</div>
                <div class="col-md-3 visible-md visible-lg text-right">TOTAL</div>
                </div>
            </li>


            <li ng-repeat="order in model.orders" ng-if="model.orders.length"  class="list-group-item">
                <div class="row">
                <div class="col-xs-6 col-md-3"><a href="" ng-click="model.loadOrder(order._id)">Order {{$index+1}}</a></div>
                <div class="col-xs-6 col-md-3">{{order.status}}</div>
                    <div class="col-md-3 visible-md visible-lg">{{order.ordered_Date | date:'mediumDate'}} </div>
                    <div class="col-md-3 visible-md visible-lg text-right">${{order.grand_total}}</div>
                </div>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-header navbar-right">
                    <p class="navbar-text pull-right">
                        <a href="#!/" class="navbar-link"> <span
                                class="white glyphicon glyphicon-home pull-right"></span>
                        </a>
                    </p>
                </div>
            </div>
    </nav>
</div>
