<div class="pav">
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/"><span
                    class="white glyphicon glyphicon-chevron-left"></span></a>
            <a class="navbar-brand">TASKS</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item"><a href="#!/customers">Manage Customers</a></li>
        <li class="list-group-item" ng-show="model.currentUser.role === 'ADMIN'"><a href="#!/managers">Manage Managers</a></li>
        <li class="list-group-item" ng-show="model.currentUser.role === 'MANAGER'"><a href="#!/profile/message">Messages</a></li>
        <li class="list-group-item"><a href="#!/products">Manage Products</a></li>
        <li class="list-group-item"><a href="#!/orders">Manage Orders</a></li>
    </ul>

</div>

</div>
