<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="" ng-click="model.loadUserProfile()"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Followers</a>
                <p class="navbar-text pull-right">
                    <a href="" ng-click="model.addWebsite()" class="navbar-link"> <span
                            class="white glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <ul class="list-group">
            <li type="button" class="list-group-item">
                <a href="" ng-click="model.loadVisitorProfile()">Alice</a>

                <a href="" ng-click="model.editWebsite()">
                    <span class="button pull-right">Block</span>
                </a>
            </li>
            <li type="button" class="list-group-item">
            <a href="" ng-click="model.loadVisitorProfile()">Bob</a>

            <a href="" ng-click="model.editWebsite()">
                <span class="button pull-right">UnBlock</span>
            </a>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="navbar-header navbar-right">
                    <p class="navbar-text pull-right">
                        <a ng_click="model.loadUserProfile()" class="navbar-link"> <span
                                class="white glyphicon glyphicon-user pull-right"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
</div>
