<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">WishList</a>
        </div>
        <search-bar></search-bar>
    </div>
</nav>


<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat="product in model.wishlist" type="button" class="list-group-item">
            <a href="" ng-click="model.loadProduct(product.itemID)">{{product.name}}</a>
            <a href="" ng-click="model.editItem(product._id)">
                <span class="glyphicon glyphicon-remove pull-right"></span>
            </a>
        </li>
    </ul>
</div>
