<div class="pav">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/profile"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="navbar-brand">WishList</a>
            <div>
        </div>
    </div>
    </div>
</nav>


<div class="container-fluid">
    <search-bar></search-bar>
    <div>
    <ul class="list-group">
        <li ng-repeat="product in model.wishlist" type="button" class="list-group-item">
            <a href="" ng-click="model.loadProduct(product.itemID)">{{product.name}}</a>
            <a href="" ng-click="model.removeItem(product._id)">
                <span class="glyphicon glyphicon-remove pull-right"></span>
            </a>
        </li>
    </ul>
</div>
</div>
</div>