input,textarea,select.form-control{
    margin-bottom: 5px;
}

.btn{
    margin-bottom: 5px;
}
body {
    padding-top: 60px;
    padding-bottom: 60px;
}
.pav .navbar-default .navbar-brand {
    color: white;
}

.pav .navbar-toggle{
    color: white;
    border-color: #286090;
}
.pav .padding{
    margin-bottom: 5px;
}
.pav .padding .btn-toolbar{
    margin-bottom: 5px;
}
.pav .navbar-default {
    background-color: #286090;
    border-color: #286090;
    background-image: none;
}

.pav .pav {
    background-color: #286090;
    border-color: #286090;
    background-image: none;
}

.pav .navbar-default .navbar-brand {
    color: white;
}

.pav .navbar-toggle{
    color: white;
    border-color: #286090;
}
.pav .navbar .navbar-header{
    border-color: #286090;
    width:100%;
}
.pav .padright{
    padding-right: 5px;
}

.pav .black{
    color:black;
}
.pav .white{
    color:white;
}
.pav .red{
    color:red;
}
.pav .largetext{
    font-size: 25px;
}

.pav .mediumtext{
    font-size: 15px;
}
.pav .smalltext{
    font-size: 10px;
}
.pav .bold{
    font-weight:bold;
}

.pav .pav-split-view-left {
    position: absolute;
    top: 60px;
    bottom: 0px;
    z-index: 1;
    overflow-y: scroll;

}


@media (min-width: 992px) {
    .col-md-9.pav-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top: 60px;
        bottom: 0px;
    }
}


@media (min-width: 992px) {
    .col-lg-9.pav-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        overflow-y: hidden;
        top: 60px;
        bottom: 0px;
        overflow-y: scroll;

    }
}

.pav .pav-split-view-left-header {
    position: absolute;
    top: 0px;
    left:0px;
    bottom: 0px;
    z-index: 1;
    height:60px;
}


@media (min-width: 992px) {
.pav  .col-md-9.pav-split-view-right-header {
        width: 75%;
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        height:60px;
}}

@media (min-width: 992px) {
    .pav  .col-lg-9.pav-split-view-right-header {
        width: 75%;
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        height:60px;
    }}

.pav-widget {
    margin-bottom: 10px;
}
.pav-widget > img {
    width:100%
}

.pav-widget > .pav-widget-toolbar {
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.9;
    padding:5px;
    border-bottom-left-radius: 10px;
    z-index:1;
}

.pav-video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.pav-video-container iframe,
.pav-video-container object,
.pav-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-padded{
    margin-bottom: 5px;
}

.pv{
    background-color:darkgray;
    display: inline-block;
}
.pv .col1 {
    background-color:slategray;
}

.pv .navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-nav>li>a {
   color:white;
}

.pv .navbar-default {
    background-color:darkgray;
}
.col2 {
    background-color:slategray;
}

.nocolor{
    background-color:unset;

}
.col3{
    background-color: darkgray;}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 50%;
    height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}
