
<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Categories</a>
                <p class="navbar-text pull-right">
                    <a href="" ng-click="model.updateCategories()" class="navbar-link">
                        RefreshCategories
                    </a>
                </p>
            </div>
        </div>
    </nav>


    <div class="container-fluid">

        <div ng-include="'views/category/templates/category.component.client.html'"></div>

</div>

</div>
