
<div>
     <div ng-if="model.subcategory_selected">
         <div class="row">
             <div ng-repeat="product in model.productSubset"  class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                 <div class="thumbnail product" >
                     <img ng-src="{{product.thumbnailImage}}"></img>
                     <div class="caption">
                         <a href="" ng-click="model.loadProduct(product.itemId)" class="small text-success">{{product.name}}</a>
                     </div>
                 </div>
             </div>
         </div>

         <div ng-if="model.productSubset.length" class="text-center">
             <ul class="pagination">
                 <li ng-repeat="i in model.pagination track by $index">
                     <a href=""  target="_self" ng-click="model.setSubset($index)">{{$index+1}}</a>
                 </li>
             </ul>
         </div>
     </div>
</div>
