<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/profile"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Your Addresses</a>
                <p class="navbar-text pull-right">
                    <a href="" ng-click="model.addAddress()" class="navbar-link"> <span
                            class="white glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div ng-repeat="address in model.addresses"  class="col-xs-12 col-sm-6 col-md-3">
                <div class="thumbnail address">
                    <div class="caption panel-heading text-center">
                        <a ng-if="address.type==='SECONDARY'" href="" ng-click="model.setDefaultAddress(address._id)" class="text-success">Set as Default | </a>
                        <a href="" ng-click="model.editAddress(address._id)" class="text-danger">Edit</a>
                        |
                        <a href="" ng-click="model.deleteAddress(address._id)" class="text-danger">Delete</a>
                    </div>
                    <address>
                        <strong>{{address.fullName}}</strong><br ng-if="address.fullName">
                        {{address.streetAddress1}}<br ng-if="address.streetAddress1">
                        {{address.streetAddress2}}<br ng-if="address.streetAddress2">
                        {{address.city}}<br ng-if="address.city">
                        {{address.state}}<br ng-if="address.state">
                        {{address.zipCode}}<br ng-if="address.zipCode">
                        {{address.country}}<br ng-if="address.country">
                        <abbr ng-if="address.phone" title="Phone">P:</abbr> {{address.phone}}
                    </address>
                    </div>
            </div>
        </div>

        </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <p class="navbar-text pull-right">
                    <a href="/project/#!" class="navbar-link"> <span
                            class="white glyphicon glyphicon-home pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>

