<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/profile/payment"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Edit</a>
                <div class="navbar-right pull-right">
                    <a class="navbar-brand" href="" ng-click="model.updatePayment(model.payment)" class="navbar-link"> <span
                            class="white glyphicon glyphicon-ok pull-right"></span>
                    </a>
                </div>
        </div>
        </div>
    </nav>
    <div class="container-fluid">


            <label for="nameOnCard">Name on card</label>
            <input name="nameOnCard"
                   ng-model="model.payment.nameOnCard"
                   type="text"
                   placeholder="Alice Wonderland"
                   class="form-control"
                   id="nameOnCard"/>
            <label for="cardNumber">Card number</label>
            <input name="cardNumber"
                   ng-model="model.payment.cardNumber"
                   type="number"
                   class="form-control"
                   id="cardNumber"/>

        <label for="expiry">Expiration date</label>
        <input name="expiry"
               type="month"
               ng-model="model.payment.expiry"
               class="form-control"
               id="expiry"/>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="SetAsDefault" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2"><input id="formatted" ng-model="model.payment.isDefault" type="checkbox"/></span>
        </div>
        <a class="btn btn-default btn-danger btn-block"
           ng-click="model.deletePayment()"
           role="button">Delete</a>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <p class="navbar-text pull-right">
                    <a href="" ng_click="model.loadUserProfile()" class="navbar-link"> <span
                            class="white glyphicon glyphicon-user pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>

