<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/profile/payment"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">New Payment</a>
                <p class="navbar-text pull-right">
                    <a href="" ng-click="model.addPayment()" class="navbar-link"> <span
                            class="white glyphicon glyphicon-ok pull-right"></span>
                    </a>
                </p>
            </div>
        </div>

    </nav>
    <div class="container-fluid">

        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>
            <label for="nameOnCard">Name on card</label>
            <input name="nameOnCard"
                   ng-model="model.payment.nameOnCard"
                   type="text"
                   placeholder="Alice Wonderland"
                   class="form-control"
                   id="nameOnCard"/>
            <label for="cardNumber">Card number</label>
            <input name="cardNumber"
                   ng-model="model.payment.cardNumber"
                   type="number"
                   class="form-control"
                   id="cardNumber"/>

        <label for="expiry">Expiration date</label>
        <input name="expiry"
               type="month"
               ng-model="model.payment.expiry"
               class="form-control"
               id="expiry"/>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <p class="navbar-text pull-right">
                    <a href="/project/#!/" class="navbar-link"> <span
                            class="white glyphicon glyphicon-home pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>

