<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Your Payment Methods</a>
                <p class="navbar-text pull-right">
                    <a href="" ng-click="model.addNewPayment()" class="navbar-link"> <span
                            class="white glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div ng-repeat="payment in model.payments">
            <div class="pav-widget">
                <div class="pav-widget-toolbar">
                    <a href="" ng-click="model.editPayment(payment._id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </div>
                <div>
                   <label>{{payment.nameOnCard}}</label>
                    <label>{{payment.cardNumber}}</label>
                    <label>{{payment.expirationMonth}}:{{payment.expirationYear}}  </label>

                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <p class="navbar-text pull-right">
                    <a href="" ng_click="model.loadUserProfile()" class="navbar-link"> <span
                            class="white glyphicon glyphicon-user pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>

