<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/admin"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Products</a>
                <div class="dropdown pull-right">
                    <a href="" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add By Category <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="category in model.categories">
                            <a href="" ng-click="model.setSubCategory(category)">
                                <span>{{category.name}}</span>
                                </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">

      <!--  <ul class="nav nav-tabs">

                <li ng-repeat="category in model.categories" role="presentation" class="dropdown">
                    <a  ng-click="model.setSubCategory(category)" role="button" class= "dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>{{category.name}}</span>
                        <span ng-if="category.children.length" class="caret"></span>
                    </a>
                    &lt;!&ndash;<a href="" ng-click="model.setSelected(category.children);">{{category.name}}</a>&ndash;&gt;
                    <ul ng-if="model.subCategory.length" class="dropdown-menu list-group">
                        <li ng-repeat="subCat in model.subCategory" class="list-group-item list-group-item-info">
                            <a href="" ng-click="model.setSelected(subCat.id)">{{subCat.name}}</a></li>
                    </ul>
                </li>

        </ul>-->

        <div ng-if="model.subCategory.length" class="btn-group btn-padded">
            <div><label>Select Subcategory</label></div>
            <button id="top" type="button" class="btn btn-default">{{model.categoryName}}</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu list-group">
                <li ng-repeat="subCat in model.subCategory" class="list-group-item">
                    <a href="" ng-click="model.setSelected(subCat.id)">{{subCat.name}}</a>
                </li>
            </ul>
        </div>
                <div ng-if="model.subcategory_selected">
                    <table class="table  table-striped ">
                        <thead>
                        <tr>
                            <td>PRODUCT</td>
                            <td>ADD</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in model.products">
                            <td><a href="" ng-click="model.loadProduct(product.itemId)">{{product.name}}</a></td>
                            <td>  <span >
                         <a href="" ng-click="model.addProduct(product)" class="navbar-link">
                             <span class="glyphicon glyphicon-plus pull-right"></span>
                         </a>
                        </span></td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="navbar-header navbar-right">
                    <p class="navbar-text pull-right">
                        <a ng_click="model.loadUserProfile()" class="navbar-link"> <span
                                class="white glyphicon glyphicon-user pull-right"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
</div>
