<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/admin"><span class="white glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Products</a>
                <div class="navbar-right pull-right">
                    <a class="navbar-brand"  href="" ng-click="model.addProduct()" class="navbar-link"> <span
                            class="white glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>
        <div ng-show="model.showProductSearch">
            <a class="btn btn-default btn-success btn-block"
               ng_click="model.searchWalmart()"
               role="button">Add Product From Walmart</a>
        </div>
        <table class="table  table-striped">
            <thead>
            <tr>
                <td>PRODUCT</td>
                <td class="text-right">DELETE</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in model.products">
                <td><a href="" ng-click="model.loadProduct(product.itemID)">{{product.name}}</a></td>
                <td>  <span >
                         <a href="" ng-click="model.deleteProduct(product._id)" class="navbar-link">
                             <span class="glyphicon glyphicon-remove pull-right"></span>
                         </a>
                        </span></td>
            </tr>
            </tbody>
        </table>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="navbar-header navbar-right">
                    <p class="navbar-text pull-right">
                        <a ng_click="model.loadUserProfile()" class="navbar-link"> <span
                                class="white glyphicon glyphicon-user pull-right"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
</div>
