    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Products</a>
            </div>
            <search-bar></search-bar>
        </div>
    </nav>


    <div class="container-fluid">
        <table class="table">
            <tr ng-repeat="product in model.products">
                <td>
                    <a href="" ng-click="model.loadProduct(product.itemId)">{{product.name}}</a>
                </td>

                <td ng-repeat="productImage in product.imageEntities | filter:{'entityType':'PRIMARY'}">
                        <img ng-src="{{productImage.mediumImage}}"></img>
                </td>

            </tr>
        </table>
    </div>
