<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Products</a>
        </div>
        <search-bar></search-bar>
    </div>
</nav>


<div class="container-fluid">
    <h2>{{model.product.name}}</h2>
    <div>Original Price : {{model.product.msrp}}</div>
    <div>Sales Price : {{model.product.salePrice}}</div>

    <h3>About Product</h3>
    <div>
        <span ng-bind-html="model.trustHtmlContent(model.product.shortDescription)"> </span>
        <span ng-bind-html="model.trustHtmlContent(model.product.longDescription)"> </span>
    </div>

    <div>
     <img ng-src="{{model.product.largeImage}}"></img>
    </div>
    <div ng-if="model.product.size">Size : {{model.product.size}}</div>
    <div>Customer Rating : {{model.product.customerRating}}/5</div>




</div>
