<div ng-if=model.products class="row">
    <div class="text-center">
        <ul class="pager">
            <li class="ng-class:model.previousState"><a href=""  class="btn btn-success ng-class:model.previousState"  ng-click="model.getPrevious()">Previous</a></li>
            <li class="ng-class:model.nextState"><a  href=""  class="btn btn-success ng-class:model.nextState" ng-click="model.getNext()">Next</a></li>
        </ul>
    </div>
</div>
<div ng-if="model.showNotFound"  class="row">
<div class="col-xs-12">
<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <span class="sr-only">Success:</span>
    <strong>Searched item not found. Search relevant products like cake, pasta ,onions etc.</strong>
</div>
</div>
</div>
<div class="row">
    <div ng-repeat="product in model.products"  class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <div class="thumbnail product" >
            <img ng-src="{{product.thumbnailImage}}"></img>
            <div class="caption">
                <a href="" ng-click="model.loadProduct(product.itemId)" class="small text-success">{{product.name}}</a>
            </div>
        </div>
    </div>
</div>
<div ng-if=model.products class="row">
<div class="text-center">
    <ul class="pager">
        <li class="ng-class:model.previousState"><a href=""  class="btn btn-success ng-class:model.previousState"  ng-click="model.getPrevious()">Previous</a></li>
        <li class="ng-class:model.nextState"><a  href=""  class="btn btn-success ng-class:model.nextState" ng-click="model.getNext()">Next</a></li>
    </ul>
</div>
</div>
