<div class="pav">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/project/#!"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Products</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 productdetail">
                <ul class="nav nav-pills pull-right nav-stacked">
                    <li role="presentation"><a href="" ng-click="model.addtoCart()" class="text-success pull-right"><strong>Add to Cart</strong></a>
                    </li>
                    <li role="presentation"><a href="" ng-click="model.addtoWishList()" class="text-success pull-right"><strong>Add to
                        WishList</strong></a></li>
                    <li ng-if="model.enableReviewLink" role="presentation"><a href="" ng-click="model.addReview()" class="text-success pull-right"><strong>Add Review</strong></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-danger">{{model.product.name}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p class="text-success">Price : <i class="fa fa-usd" aria-hidden="true"></i><strong>{{model.product.salePrice}}</strong>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="text-success" ng-if="model.product.size">Size : {{model.product.size}}</div>
                <div class="text-success" ng-if="model.product.customerRating">Customer Rating :
                    <div data-angular-rating-icons readonly=true ng-model="model.product.customerRating"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h5 class="text-danger">About Product</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <span ng-if='model.product.shortDescription'
                      ng-bind-html="model.trustHtmlContent(model.product.shortDescription)"> </span>
                <span ng-if='model.product.longDescription'
                      ng-bind-html="model.trustHtmlContent(model.product.longDescription)"> </span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <img ng-src="{{model.product.largeImage}}" class="img-responsive" width="350" height="350" width="100%"></img>
            </div>
        </div>


        <div ng-if="model.reviews.length">
            <div class="row">
                <div class="col-xs-12">
                <p class="text-danger largetext">Customer Reviews</p>
                </div>
            </div>
            <hr>
                <div class="row" ng-repeat="review in model.reviews">
                    <div class="col-xs-12">
                        <div><a class="mediumtext" href="" ng-click="model.loadProduct(review.itemID)">{{review.reviewer_username}}</a></div>
                        <div> {{ review.date | date : "mediumDate" }}</div>
                        <div data-angular-rating-icons icon-size=15 readonly=true ng-model="review.rating"></div>
                        <div><p>{{review.review_title}}</p></div>
                        <div><p>{{review.review_content}}</p></div>
                        <hr>
                    </div>
                </div>
            </div>
    </div>
        </div>
