<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="" ng-click="model.loadUserProfile()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand">New Message</a>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-right">
                    <a class="navbar-brand" href="" ng-click="model.discardDraft()">
                        Discard Draft
                    </a>
                    <a class="navbar-brand" href="" ng-click="model.sendMessage()">
                        Send Message
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <label for="category">Choose a category for your query</label>
        <select id="category"  class="form-control" ng-model="model.message.category">
            <option value="ORDERS">ORDERS</option>
            <option value="PAYMENT">PAYMENT</option>
            <option value="ACCOUNT">ACCOUNT</option>
            <option value="PRODUCTS">PRODUCTS</option>
        </select>

        <label for="subject">Subject</label>
        <input id="subject"
                type="text"
                ng-model="model.message.subject"
                class="form-control"/>
        <label for="message">Message Description</label>
        <textarea
                id="message"
                rows="10"
                ng-model="model.message.message_description"
                class="form-control"></textarea>

    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <p class="navbar-text pull-right">
                    <a ng_click="model.loadUserProfile()" class="navbar-link"> <span
                            class="white glyphicon glyphicon-user pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>
