<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!profile/message"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="navbar-brand">Message</a>
                <div class="navbar-right">
                    <a class="navbar-brand" href="" ng-click="model.deleteMessage()">
                        <span class="red glyphicon glyphicon-remove pull-right"></span></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal">
                    <label>From:</label>
                    <label> {{model.message.From.username}}</label>

                </div>
                <div class="form-horizontal">
                    <label>Sent:</label>
                    <label> {{model.message.To.username}}</label>
                </div>
                <div class="form-horizontal">
                    <label>Date:</label>
                    <label>{{model.message.message_date}}</label>
                </div>
                <div class="form-horizontal">
                    <label>Subject :</label>
                    <label>{{model.message.subject}}</label>
                </div>
                <div class="form-group">
                    <h6>{{model.message.message_desc}}</h6>
                </div>
                <a ng-if="model.enableReply && !model.isUserReplying" class="btn btn-default btn-success btn-block"
                   ng_click="model.setUserReplying()"
                   role="button">Send A Reply</a>
            </div>
        </div>
        <div class="row" ng-if="model.isUserReplying">
            <div class="col-xs-12">
                <div class="form-horizontal">
                    <label>From:</label>
                    <label>{{model.reply.From.username}}</label>

                </div>
                <div class="form-horizontal">
                    <label>Sent:</label>
                    <label>{{model.reply.To.username}}</label>
                </div>
                <div class="form-horizontal">
                    <label>Date:</label>
                    <label>{{model.reply.message_date}}</label>
                </div>
                <div class="form-horizontal">
                    <label for="subject">Subject</label>
                    <input id="subject"
                           type="text"
                           ng-model="model.reply.subject"
                           class="form-control"/>

                </div>
                <div class="form-group">
                    <label for="message">Message Description</label>
                    <textarea
                            id="message"
                            rows="10"
                            ng-model="model.reply.message_desc"
                            class="form-control"></textarea>
                </div>
                <a class="btn btn-default btn-primary btn-block"
                   ng_click="model.sendReply()"
                   role="button">Send</a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#!/"><span
                            class="glyphicon glyphicon-home white"></span></a>
                    <p class="navbar-text pull-right">
                        <a href="#!profile" class="navbar-link"> <span
                                class="white glyphicon glyphicon-user pull-right"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
</div>

