<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand visible-md visible-sm visible-xs" ng-click="model.showWebsites()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand">Message Center</a>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-right">
                    <a class="navbar-brand" href="" ng-click="model.deleteMessage()">
                        Delete Message
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="from">From:</label>
                    <span></span><input type="text" class="form-control" id="from" placeholder="Jane Doe">
                </div>
                <div class="form-group">
                    <label for="sent">Sent:</label>
                    <input type="date" class="form-control" id="sent" placeholder="Friday, July 14, 2017 9:21 AM (ET)">
                </div>
                <div class="form-group">
                    <label for="to">To:</label>
                    <input type="text" class="form-control" id="to" placeholder="You">
                </div>
                <div class="form-group">
                    <label for="subject">Subject:</label>
                    <input type="text" class="form-control" id="subject" placeholder="Closing or Opening an Account">
                </div>
                <div class="form-group">
                    <label for="message_id">Message ID:</label>
                    <input type="text" class="form-control" id="message_id" placeholder="9345961">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description"
                          ng-model="model.website.description"
                          placeholder="Description"
                          rows="5"
                          class="form-control"
                          id="description"></textarea>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <p class="navbar-text pull-right">
                    <a ng_click="model.loadUserProfile()" class="navbar-link"> <span
                            class="white glyphicon glyphicon-user pull-right"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</div>

