<div class="pav">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Profile</a>
                <div class="navbar-right pull-right">
                    <a ng-if="model.user.role === 'CUSTOMER'" href="#!/profile/cart" class="navbar-brand pull-right"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
<div class="row">
    <div class="ng-class: model.grid">
        <h3 class="text-center"><strong>Personal Information</strong></h3>
        <label for="firstName">First Name</label>
        <input name="firstName"
               ng-model="model.user.firstName"
               type="text"
               placeholder="alice"
               class="form-control"
               id="firstName"/>
        <label for="lastName">Last Name</label>
        <input name="lastName"
               ng-model="model.user.lastName"
               type="text"
               placeholder="wonderland"
               class="form-control"
               id="lastName"/>
        <label for="username">Username</label>
        <input name="username"
               ng-model="model.user.username"
               type="text"
               readonly
               placeholder="alice"
               class="form-control"
               id="username"/>
        <label for="email">Email</label>
        <input name="email"
               ng-model="model.user.email"
               type="email"
               placeholder="alice@wonderland.com"
               class="form-control"
               id="email"/>
        <label for="dob">Date of Birth</label>
        <input name="dob"
               ng-model="model.user.dob"
               type="date"
               class="form-control"
               id="dob"/>

                <a class="btn  btn-success btn-block"
                   ng_click="model.updateUser(model.user)"
                   role="button">Save Changes</a>
                <a class="btn  btn-danger btn-block"
                   ng_click="model.logout()"
                   role="button">Logout</a>
        <a class="btn btn-danger btn-block"
           ng_click="model.unRegister()"
           role="button">Delete Account</a>
    </div>

            <div class="col-sm-6"></div>


    <div ng-if="model.user.role ==='CUSTOMER'" class="col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center"><strong>Shipping & Payment</strong></h3>
                    <a class="navbar-brand" href="" ng-click="model.editAddressWidget()">Addresses</a>
                    <a class="navbar-brand" href="" ng-click="model.editPaymentWidget()">Payment Methods</a>
                </div>
            </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center"><strong>Account Activity</strong></h3>
                <a class="navbar-brand" href="" ng-click="model.getOrders()">Orders</a>
                <a class="navbar-brand" href="" ng-click="model.getWishList()">WishList</a>
                <a class="navbar-brand" href="" ng-click="model.getReviews()">Your Reviews</a>
                <a class="navbar-brand" href="" ng-click="model.getMessageCenter()">Message Center</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center"><strong>People</strong></h3>
                <a class="navbar-brand" href="" ng-click="model.getFollowers()">Followers</a>
                <a class="navbar-brand" href="" ng-click="model.getFollowing()">Following</a>
            </div>
        </div>
    </div>
</div>

    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <p class="navbar-text pull-right">
                    <div class="navbar-right pull-right">
                        <a href="#!/" class="navbar-brand pull-right"><span class="glyphicon glyphicon-home"></span></a>
                    </div>
                </p>
            </div>
        </div>
    </nav>
</div>

