<div class="container-fluid">
    <h2>Register</h2>

    <div ng-show="model.errorMessage" class="alert alert-danger">
        {{model.errorMessage}}
    </div>

    <label for="username">Username</label>
    <input name="username"
           ng-model="model.user.username"
           type="text"
           placeholder="alice"
           class="form-control"
           id="username"/>

    <label for="password">Password</label>
    <input name="password"
           type="password"
           ng-model="model.user.password"

           placeholder="f!@#rg5"
           class="form-control"
           id="password"/>

    <label for="password">Verify Password</label>
    <input name="password"
           ng-model="model.user.password2"
           type="password"
           placeholder="f!@#rg5"
           class="form-control"
           id="password2"/>

    <a class="btn btn-default btn-primary btn-block"
       ng_click="model.register(model.user)"
       role="button">Register</a>
    <a class="btn btn-default btn-danger btn-block"
       href="#!/login"
       role="button">Cancel</a>

</div>
